node_modules
dist
.git
.gitignore
*.md
.env
.env.local
.env.*.local
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
*.log
coverage
.DS_Store
Dockerfile
docker-compose.yml
.dockerignore

